@{
    ViewData["Title"] = "Ana Sayfa";
}
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Üye Sayısı</h5>
                <p class="card-text display-4">@ViewData["UserCount"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Kitap Sayısı</h5>
                <p class="card-text display-4">@ViewData["BookCount"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Rezervasyon Sayısı</h5>
                <p class="card-text display-4">@ViewData["reservationCount"]</p>
            </div>
        </div>
</div