@{
    ViewData["Title"] = "Book Details";
}

<h2>Listenen kitapların detaylarının göründüğü sayfa (rezervasyon yap butonu burda, favorilere ekle butonu burda, kitapların müsaitlik durumunu da burda göreceğiz)</h2>
